{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}
  {{ category.name }}
{% endblock %}

{% block body_block %}
  {% if category %}
    <h3>{{ category.name }}</h3>
    <div>
<strong id="like_count">{{ category.likes }}</strong> people like this category
      {% if user.is_authenticated %}
      <button id="likes" data-catid="{{category.id}}"
      class="btn btn-primary btn-sm" type="button">
      Like
      </button>
      <p id="liked" style="display: none">Test</p>
      {% endif %}
    </div>

    {% if pages %}
      <ul>
      {% for page in pages %}
        <li><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
          {% if page.views > 1 %}
            &nbsp({{ page.views }} views)
          {% elif page.views == 1 %}
            &nbsp ({{ page.views }} view)
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No pages currently in category.</strong>
    {% endif %}
    <a href="{% url 'add_page' category.slug %}">Add a Page</a>
    {% if user.is_authenticated %}
      <div>
        <script async src="https://cse.google.com/cse.js?cx=b026cb20027162015"></script>
        <div class="gcse-searchbox"></div>
        <div class="gcse-searchresults"></div>
        <script>
          myWebResultsRenderedCallback = function(name, q, promos, results) {
            for (const div of promos.concat(results)) {
              const innerDiv = document.createElement('div');
              innerDiv.appendChild(document.createTextNode('Add: '));
              const checkBox = document.createElement('input');
              checkBox.type = 'checkbox';
              checkBox.name = 'save';
              innerDiv.appendChild(checkBox);
              div.insertAdjacentElement('afterbegin', innerDiv);
            }
          };
          window.__gcse || (window.__gcse = {});
          window.__gcse.searchCallbacks = {
            web: {
              rendered: 'myWebResultsRenderedCallback',
            },
          };
        </script>
      </div>
    {% endif %}
  {% else %}
    The specified category does not exist!
  {% endif %}
{% endblock %}
