{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
  Home
{% endblock %}

{% block body_block %}
<div>
  <h3>Rango says...
  {% if user.is_authenticated %}
    howdy {{ user.username }}!
  {% else %}
    hey there partner!
  {% endif %}
  </h3>
</div>

<div class='row'>
  <div class='col-lg-6'>
    <h4>Most Liked Categories</h4>
    <p>
    {% if categories %}
    <ul>
        {% for category in categories %}
          <li>
            <a href="{% url 'show_category' category.slug %}">  {{category.name }}</a>
          </li>
        {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
    </p>
  </div>
  <div class='col-lg-6'>
    <h4>Most Viewed Pages</h4>
    <p>
    {% if pages %}
    <ul>
      {% for page in pages %}
      <li>
        <a href="{{page.url}}">{{page.title}}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no pages present</strong>
    {% endif %}
    </p>
  </div>
</div>
<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
{% endblock %}
